<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesti칩n de Usuarios</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   
    <%- include("../layout/header"); %>
    <main>
        <section>
            <form id="form-login" class="form__auth" method="POST" action="/api/auth/login">
                <% if(mensaje.length >0 ){ %>
                    <div class="alert"><%=mensaje%></div>
                <% } %>
                <input type="email" id="correo" name="correo" placeholder="Correo" required>
                <input type="password" id="contrase침a" name="contrase침a" placeholder="Contrase침a" required>
                <button type="submit">login</button>
                <span>
                    <a href="/registro">Registrarse</a>
                </span>
            </form>
             
        </section>
    </main>
    <%- include("../layout/footer"); %>
</body>
</html>
