<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("../layout/header"); %>
    <main>
        <section>
    <form id="form-register" class="form__auth" method="POST" action="/api/auth/registro">
        <% if(mensaje.length >0 ){ %>
            <div class="alert"><%=mensaje%></div>
        <% } %>
        <input type="text"     name="nombre" id="nombre" placeholder="Nombre" required>
        <input type="email"    name="correo" id="correo" placeholder="Correo" required>
        <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" required>
        <button type="submit">Registrarse</button>
        <span>
            ¿Ya tiene cuenta? <a href="/login">ingrese</a>
        </span>
    </form>
        </section>
    </main>
    <%- include("../layout/footer"); %>
</body>
</html>
