<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img src="https://www.juntadeandalucia.es/educacion/eaprendizaje/wp-content/uploads/2024/09/HHVS.png" alt="Icono HHVS">
        <h1>Gestión de Hábitos</h1>
        <nav>
            <button id="salir">Salir</button>
        </nav>
      </header>
      <main>
        <section>
            <div class="contariner__dashboard">
                <aside class="menu">
                    <ul>
                        <% if (usuario.rol === 'admin') { %>
                            <li> <button id="crud_user">Usuarios</button></li>
                        <% } %>
                        <li><button id="crud_actividades">Actividades</button></li>
                        <li><button id="crud_habitos">Hábitos</button></li>
                    </ul>
                </aside>
                <div id="contenido-principal">
                    <div class="container__void"></div>
                </div>
            </div>
        </section>
      </main>


    <footer>
        <p>&copy; 2024 Gestión de Hábitos</p>
    </footer>

    <script src="/js/api.js"></script>
    <script src="/js/dashboard/dashboard.js"></script>
</body>
</html>