<header>
    <img src="https://www.juntadeandalucia.es/educacion/eaprendizaje/wp-content/uploads/2024/09/HHVS.png" alt="Icono HHVS">
    <h1>Gesti칩n de Tiempo</h1>
    <nav>
      <a href="/home">Inicio</a>
      <a href="/home/habitos">H치bitos</a>
      <a href="/home/importar-habitos">Importar H치bitos</a>
      <a href="/">Iniciar sesi칩n</a>
    </nav>
</header>
