body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(135deg, #e0f2f7, #f0f8ff);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    padding: 10px; /* Añade un poco de espacio alrededor del header */
    background-color: #ffffff; /* Un color de fondo suave para el header */
  }
  
  header img {
    width: 60px; /* Ajusta el ancho del icono */
    height: auto; /* Mantiene la proporción original */
    margin-right: 20px; /* Espacio entre el icono y el título */
  }
  
  header h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */
    font-size: 1.5em; /* Ajusta el tamaño de la fuente del título */
  }
  
  header nav {
    margin-left: auto; /* Empuja la navegación hacia la derecha */
  }
  
  header nav a {
    margin-left: 15px; /* Espacio entre los enlaces de navegación */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #333; /* Color del texto de los enlaces */
  }
  
  header nav a:hover {
    text-decoration: underline; /* Subraya los enlaces al pasar el ratón */
  }

main {
    padding: 2rem;
}

main section {
    background-color: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 850px;
    width: 100%;
    margin: auto;
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 1rem;
}

ul, ol {
    margin-left: 1.5rem;
}


ul, ol {
    margin-left: 1.5rem;
}



button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
/*estilos al final de la pagina  */
footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}
